@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(252, 215, 221);
}

section {
    background-color: lightgray;
    width: 300px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    border: 5px solid black;
    border-radius: 20px 20px 50px 20px;
    box-shadow: inset 10px 0px 5px rgb(241, 241, 241);
}

header {
    height: 40px;
    border-bottom: 5px solid black;
    box-shadow: 0px 5px 1px rgb(179, 179, 179);
}

.container-header {
    height: 40px;
    border-right: 5px solid black;
    border-left: 5px solid black;
    width: 230px;
    margin: auto;
}

.border-screen {
    height: 200px;
    background-color: gray;
    width: 230px;
    margin: auto;
    margin-top: 30px;
    border: 5px solid black;
    border-radius: 10px 10px 30px 10px;
}

.screen-class {
    position: relative;
    height: 130px;
    background-color: rgb(92, 189, 92);
    width: 170px;
    margin: auto;
    margin-top: 30px;
    border: 5px solid rgb(77, 76, 76);
    box-shadow: inset 5px 0px 1px rgb(80, 161, 80);
}

.button-on-off {
    position: absolute;
    background-color: red;
    height: 10px;
    width: 10px;
    margin-top: 80px;
    margin-left: 7px;
    border-radius: 10px;
    border: 1.5px solid rgb(77, 76, 76);
}

.div-buttons {
    display: flex;
}

.circle-joystick {
    position: flex;
    height: 100px;
    width: 100px;
    background-color: rgb(177, 176, 176);
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 20px;
    border: 5px solid rgb(77, 76, 76);    
}

.joystick-up {

}

.joystick-right {
    
}

.joystick-left {
    
}

.joystick-bottom {
    
}

.joystick-center {
    
}

.circle-buttons {
    display: flex;
    height: 135px;
    width: 70px;
    background-color: rgb(177, 176, 176);
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 50px;
    border: 5px solid rgb(77, 76, 76);
    transform: rotate(60deg)
}

.button-a {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 5px;
    border: 5px solid rgb(77, 76, 76);
    box-shadow: inset 5px 0px 5px rgb(182, 1, 1);
}

.button-b {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50px;
    border: 5px solid rgb(77, 76, 76);
    box-shadow: inset 5px 0px 5px rgb(182, 1, 1);
    margin-top: 65px;
    margin-left: 5px;
}

.div-start-select {
    height: 50px;
    display: flex;
}

.start {
    background-color: gray;
    margin-top: 5px;
    height: 40px;
    width: 15px;
    margin-left: 100px;
    border-radius: 50px;
    transform: rotate(60deg);
    border: 3px solid rgb(77, 76, 76);
}

.select {
    background-color: gray;
    margin-top: 5px;
    height: 40px;
    width: 15px;
    margin-left: 30px;
    border-radius: 50px;
    transform: rotate(60deg);
    border: 3px solid rgb(77, 76, 76);
}